* {
     margin: 0;
     padding: 0;
}
 body {
    background-color: #ECBA82;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content:center ;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap;
    justify-content:center ;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 16px;
    font-size: 8vmin;
    color:#E05263 ;
    background-color:#ffffc7 ;
    
}
.btn{
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #191913;
    color: #fff;
    
}
.newbtn {
    font-size: 1.25rem;
     padding: 1rem; 
    border-radius: 1rem;
    background-color: #191913;
    color: #fff;
}

#win {
      color: #191913;
      font-size: 8vmin;
}
.container2 {
    height: 20vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    gap: 4rem;
}
.hide{
    display: none;
}
